<div class="form-group">
<%= @event.name %>
</div>

<div class="form-group">
<%= @event.description %>
</div>

<div class="form-group">
<%= @event.status %>
</div>

<p>分類: <%= @event.category.try(:name) %><p>